*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    min-height: 100%;
    background: #e3f2fd;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

nav .logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .fa-bars{
color:#333;
font-size: 24px;
margin-right: 14px;
cursor: pointer;
}

.logo .logo-name{
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px 0;
    transition: all 0.5s ease;
}



.sidebar .sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px 16px;
}

.sidebar-content .list{
    list-style: none;
}

.list .nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 14px 12px;
    border-radius: 8px;
}

.nav-link .icon{
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link{
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.nav-link:hover{
    background-color: rgb(187, 90, 187);
}

.nav-link:hover .icon,
.nav-link:hover .link{
    color: #fff;
}

.overlay{
    position: fixed;
    top: 0;
    left: 260px;
    height: 1000vh;
    width: 100%;
    background: rgba(0,0,0,0.3);
}